doctype html
html(lang='es')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Página de aterrizaje profesional para generar más leads')
        meta(name='author', content='Start Bootstrap')

        title Página de Aterrizaje - Tema de Bootstrap

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Iconos de Bootstrap
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // Fuentes de Google
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // CSS del tema principal (incluye Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body
        // Navegación
        nav.navbar.navbar-light.bg-light.static-top
            .container
                a.navbar-brand(href='#!') Start Bootstrap
                a.btn.btn-primary(href='#signup') Registrarse

        // Encabezado
        header.masthead
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        .text-center.text-white
                            // Título de la página
                            h1.mb-5 ¡Genera más leads con una página de aterrizaje profesional!

                            // Formulario de registro
                            form.form-subscribe#contactForm(data-sb-form-api-token='API_TOKEN')
                                // Entrada de correo electrónico
                                .row
                                    .col
                                        input#emailAddress.form-control.form-control-lg(type='email' placeholder='Dirección de correo electrónico' data-sb-validations='required,email')
                                        .invalid-feedback.text-white(data-sb-feedback='emailAddress:required')
                                            | Se requiere la dirección de correo electrónico.
                                        .invalid-feedback.text-white(data-sb-feedback='emailAddress:email')
                                            | La dirección de correo electrónico no es válida.

                                    .col-auto
                                        button#submitButton.btn.btn-primary.btn-lg.disabled(type='submit') Enviar

                                // Mensaje de éxito de envío
                                #submitSuccessMessage.d-none
                                    .text-center.mb-3
                                        .fw-bolder ¡Formulario enviado con éxito!
                                        p Para activar este formulario, regístrate en
                                        a.text-white(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                                // Mensaje de error de envío
                                #submitErrorMessage.d-none
                                    .text-center.text-danger.mb-3 ¡Error al enviar el mensaje!

        // Cuadrícula de Iconos
        section.features-icons.bg-light.text-center
            .container
                .row
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-window.m-auto.text-primary
                            h3 Totalmente Responsivo
                            p.lead.mb-0 ¡Este tema se verá genial en cualquier dispositivo, sin importar su tamaño!
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-layers.m-auto.text-primary
                            h3 Preparado para Bootstrap 5
                            p.lead.mb-0 ¡Presentando la última versión del nuevo framework Bootstrap 5!
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-terminal.m-auto.text-primary
                            h3 Fácil de Usar
                            p.lead.mb-0 ¡Listo para usar con tu propio contenido o personalizar los archivos de origen!

        // Demostraciones de Imagen
        section.showcase
            .container-fluid.p-0
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-1.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Diseño Totalmente Responsivo
                        p.lead.mb-0
                            | Cuando usas un tema creado por Start Bootstrap, sabes que el tema se verá genial en cualquier dispositivo, ya sea un teléfono, tableta o escritorio, ¡la página se comportará de manera responsiva!
                .row.g-0
                    .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-2.jpg');")
                    .col-lg-6.my-auto.showcase-text
                        h2 Actualizado para Bootstrap 5
                        p.lead.mb-0
                            | ¡Recién mejorado y lleno de excelentes clases de utilidad, Bootstrap 5 está liderando el camino en el desarrollo web móvil responsivo! ¡Todos los temas de Start Bootstrap ahora están usando Bootstrap 5!
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/bg-showcase-3.jpg');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Fácil de Usar y Personalizar
                        p.lead.mb-0
                            | Landing Page es solo HTML y CSS con un toque de SCSS para usuarios que exigen algunas opciones de personalización más profundas. De inmediato, ¡solo agrega tu contenido e imágenes y tu nueva página de aterrizaje estará lista!

        // Testimonios
        section.testimonials.text-center.bg-light
            .container
                h2.mb-5 Lo que la gente está diciendo...
                .row
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-1.jpg', alt='...')
                            h5 Margaret E.
                            p.font-weight-light.mb-0 "¡Esto es fantástico! Muchas gracias."
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-2.jpg', alt='...')
                            h5 Fred S.
                            p.font-weight-light.mb-0
                                | "Bootstrap es increíble. Lo he estado usando para crear muchas páginas de aterrizaje muy buenas."
                    .col-lg-4
                        .testimonial-item.mx-auto.mb-5.mb-lg-0
                            img.img-fluid.rounded-circle.mb-3(src='assets/img/testimonials-3.jpg', alt='...')
                            h5 Sarah W.
                            p.font-weight-light.mb-0 "¡Muchas gracias por hacer estos recursos gratuitos disponibles para nosotros!"

        // Llamada a la Acción
        section#signup.call-to-action.text-white.text-center
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        h2.mb-4 ¿Listo para comenzar? ¡Regístrate ahora!
                        // Formulario de registro
                        form.form-subscribe#contactFormFooter(data-sb-form-api-token='API_TOKEN')
                            // Entrada de correo electrónico
                            .row
                                .col
                                    input#emailAddressBelow.form-control.form-control-lg(type='email' placeholder='Dirección de correo electrónico' data-sb-validations='required,email')
                                    .invalid-feedback.text-white(data-sb-feedback='emailAddressBelow:required')
                                        | Se requiere la dirección de correo electrónico.
                                    .invalid-feedback.text-white(data-sb-feedback='emailAddressBelow:email')
                                        | La dirección de correo electrónico no es válida.

                                .col-auto
                                    button#submitButton.btn.btn-primary.btn-lg.disabled(type='submit') Enviar

                            // Mensaje de éxito de envío
                            #submitSuccessMessage.d-none
                                .text-center.mb-3
                                    .fw-bolder ¡Formulario enviado con éxito!
                                    p Para activar este formulario, regístrate en
                                    a.text-white(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                            // Mensaje de error de envío
                            #submitErrorMessage.d-none
                                .text-center.text-danger.mb-3 ¡Error al enviar el mensaje!

        // Pie de Página
        footer.footer.bg-light
            .container
                .row
                    .col-lg-6.h-100.text-center.text-lg-start.my-auto
                        ul.list-inline.mb-2
                            li.list-inline-item
                                a(href='#!') Acerca de
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='#!') Contacto
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='#!') Términos de Uso
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='#!') Política de Privacidad
                        p.text-muted.small.mb-4.mb-lg-0 &copy; Tu Sitio Web 2023. Todos los derechos reservados.
                    .col-lg-6.h-100.text-center.text-lg-end.my-auto
                        ul.list-inline.mb-0
                            li.list-inline-item.me-4
                                a(href='#!')
                                    i.bi-facebook.fs-3
                            li.list-inline-item.me-4
                                a(href='#!')
                                    i.bi-twitter.fs-3
                            li.list-inline-item
                                a(href='#!')
                                    i.bi-instagram.fs-3

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
