doctype html
html(lang='es')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Página de aterrizaje profesional para generar más leads')
        meta(name='author', content='Start Bootstrap')

        title Página de Aterrizaje - Tema de Bootstrap

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Iconos de Bootstrap
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // Fuentes de Google
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // CSS del tema principal (incluye Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body
        // Navegación con selector de idioma
        nav.navbar.navbar-light.bg-light.static-top
            .container
                a.navbar-brand(href='#!') Start Bootstrap
                .language-switcher
                    a.btn.btn-outline-primary.me-2(href='index-en.html') EN
                    a.btn.btn-primary(href='#') ES

        // Masthead
        header.masthead
            .container.position-relative
                .row.justify-content-center
                    .col-xl-6
                        .text-center.text-white
                            // Page heading
                            h1.mb-5 ¡Genera más leads con una página de aterrizaje profesional!

                            // Signup form
                            form.form-subscribe#contactForm(data-sb-form-api-token='API_TOKEN')
                                .row
                                    .col
                                        input#emailAddress.form-control.form-control-lg(type='email' placeholder='Correo Electrónico' data-sb-validations='required,email')
                                        .invalid-feedback.text-white(data-sb-feedback='emailAddress:required')
                                            | El correo electrónico es requerido.
                                        .invalid-feedback.text-white(data-sb-feedback='emailAddress:email')
                                            | El correo electrónico no es válido.
                                    .col-auto
                                        button#submitButton.btn.btn-primary.btn-lg.disabled(type='submit') Enviar

                                // Submit success message
                                #submitSuccessMessage.d-none
                                    .text-center.mb-3
                                        .fw-bolder ¡Envío exitoso!
                                        p Para activar este formulario, regístrese en
                                        a.text-white(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                                // Submit error message
                                #submitErrorMessage.d-none
                                    .text-center.text-danger.mb-3 ¡Error al enviar el mensaje!

        // Scripts al final
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
        script(src='js/scripts.js')
        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')